<app-header></app-header>
<div class="creation-background text-center">
   <div class="select-icon">
      <p>Select Contract Type Below</p>
      <div class="row">
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Addendum</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Affiliation Agreement</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Amendment</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Blank Contract</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Confidentiality Agreement</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Gift Agreement</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Independent Contractor</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Lease</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Letter Agreement</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Letter of Intent</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>License</p>
            </div>
         </div>
         <div class="col-sm-3" [routerLink]="['/upload']">
            <div class="selectcontract">
               <div class="creat-img">
                 <img src="assets/images/c1.png">
               </div>
               <p>Master (Services) Agreement</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Memorandum of Understanding</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Modification</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Non-Disclosure Agreement</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="selectcontract">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <p>Purchase Order</p>
            </div>
         </div>
      </div>
   </div>
</div>

