<app-header></app-header>
<div class="loadinghalf" *ngIf="loading">
   <div class="loading-icon">
      <img src="assets/images/loading.png">
      <span>Loading...</span>
   </div>
</div>
<div class="creation-background text-center" *ngIf="creation">
   <div class="creation-icon">
      <p>Select Component Type For Creation</p>
      <div class="row">
         <div class="col-sm-3" [routerLink]="['/contract']">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c1.png">
               </div>
               <span>Contract</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c2.png">
               </div>
               <span>Form</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c3.png">
               </div>
               <span>Communication</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c4.png">
               </div>
               <span>Module</span>
               <p>component</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c5.png">
               </div>
               <span>Quote</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c6.png">
               </div>
               <span>Database</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c7.png">
               </div>
               <span>Email</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c8.png">
               </div>
               <span>Contractor</span>
               <p>component</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c9.png">
               </div>
               <span>Proposal</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c10.png">
               </div>
               <span>Services</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c11.png">
               </div>
               <span>Website</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c12.png">
               </div>
               <span>Workflow</span>
               <p>component</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c13.png">
               </div>
               <span>InteliDoc</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c14.png">
               </div>
               <span>App</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c15.png">
               </div>
               <span>Advertisement</span>
               <p>component</p>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="creation-icon-div">
               <div class="creat-img">
                  <img src="assets/images/c16.png">
               </div>
               <span>Analytic</span>
               <p>component</p>
            </div>
         </div>
      </div>
   </div>
</div>

