<app-header></app-header>
<div class="back-gd-area">
   <div class="container-fluid">
      <div class="sect-first-module">
         <div class="box-doc">
            <h5>KyrptonForce Templates</h5>
            <div class="temper-area">
               <div class="temp">
                  <div class="templates">
                     <img src="assets/images/c1.png">
                  </div>
                  <span class="ticons">Master (Services) Agreement
                  1A - 2017</span>
               </div>
               <div class="temp">
                  <div class="templates">
                     <img src="assets/images/c1.png">
                  </div>
                  <span class="ticons">Master (Services) Agreement
                  1A - 2017</span>
               </div>
               <div class="temp">
                  <div class="templates">
                     <img src="assets/images/c1.png">
                  </div>
                  <span class="ticons">Master (Services) Agreement
                  1A - 2017</span>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
         <!-- KyrptonForce Templatesend -->
         <!-- uload-file -->
         <div class="box-doc">
            <h5>Upload PDF </h5>
            <div class="upload-area">
               <div class="uload-btn">
                  <button type="button" class="btn btn-primary uploade-file">Upload PDF</button>
                  <p>Browse or simply drag and drop here.</p>
               </div>
            </div>
         </div>
         <!-- uplode file end section -->
         <div class="clearfix"></div>
         <div class="box-doc">
            <h5>Previous Uploads  </h5>
         </div>
         <div class=" copy text-center">
            <p>Component Type > Contract > Master ( Services) Agreement </p>
         </div>
      </div>
   </div>
</div>

